.DiscoverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.Discover {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #dad7cd;
    /* outline: auto; */
}

.DPDisplay {
    display: flex;
    align-items: center;
    background-color: #af69dd73;
    width: 42rem;
    height: 20vh;
    margin-bottom: 5rem;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border-width: 0.2rem;
    flex-direction: row;
    position: relative;
    /* outline: auto; */
}

.DiscoverImage {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 50%;
    align-items: left;
    justify-content: left;
    height: 100%;
    /* outline: auto; */
}

.DiscoverImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: fill;
    border-radius: 1rem;
    /* outline: auto; */
}

.DiscoverMeeting {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 50%;
    height: 100%;
    outline: auto;
}
.DiscoverTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    width: 75%;
    height: auto; 
    margin: 5px;
    vertical-align: top;
    outline: auto;
}

.DiscoverDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 5px;
    /* outline: auto; */
}
.DiscoverLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 5px;
    /* outline: auto; */
}
.DicoverDateTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.DiscoverTime {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
    /* outline: auto; */
}

.DiscoverDate {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
    /* outline: auto; */
}