.HomePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HomePageMain {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap:1rem;
  max-width: 70rem;
}
.HPCreate {
  display: flex;
  align-items: center;
  background: linear-gradient(
    -45deg,
    #af69dd73,
    #b841f07a,
    #af970d79,
    #fcf94875
  );
  animation: Gradient 15s ease infinite;
  background-size: 200% 200%;
  justify-content: center;
  background-color: #d6d6d6;
  width: 35rem;
  height: 15rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border-width: 0.2rem;
  transition: ease-in-out 0.4s;
  flex-direction: column;
  cursor: pointer;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.HPCreate:hover {
  display: flex;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
  transition: ease-in-out 0.4s;
}
.HPCreate:hover .Creaticon {
  color: #915ee4;
  transition: ease-in-out 0.4s;
}
.MeetCard {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  background-color: #76727c;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.4s;
}
.MeetCard:hover {
  display: flex;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
  transition: ease-in-out 0.4s;
}

.MCImageContainer {
  width: 100%;
  height: 70%;
}
.MCImage {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.MCInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  background-color: #5c4683;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.StateButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.StateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 3rem;
  border-radius: .5rem;
  background-color: #5c4683;
  border: none;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.StateButton:hover {
  background-color: #915ee4;
  transition: ease-in-out 0.4s;
}