html,
body {
  margin: 0;
  padding: 0;
  background-color: #dad7cd;
}

.LandingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LPHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #4d307f;
  width: 100%;
  height: 8%;
}
.LPHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 80rem;
}
.LPHeaderTitle {
  margin-left: 10%;
}
.LPHeaderTDiv {
  height: auto;
}
.LPHeaderTDiv h1 {
  color: #FFFFFF;
  font-size: 2rem;
}

.LPHeaderButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
  gap: 1rem;
}
.LPBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 80rem;
}
.LPBM {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.LPBodyText {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}
.LPBB {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}
.LPBodyImage {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
}
.LPBII {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}
