.SignUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  outline: auto;
}
.SignUpForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 50rem;
  height: 90vh;
  max-height: 40rem;
  background-color: #50436e;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.SUTitle {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.SUForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.SUNames {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 90%;
}
.FieldName {
  width: 100%;
}
.SUSignUp {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
  margin-top: 1rem;
}
.SULogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}